<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NRules" version="0.6.2" targetFramework="net45" />
  <package id="NRules.FluentDsl" version="0.6.2" targetFramework="net45" />
  <package id="NRules.RuleModel" version="0.6.2" targetFramework="net45" />
  <package id="NRules.Runtime" version="0.6.2" targetFramework="net45" />
</packages>